<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ZYBO In/Out</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>
    <h1>ZYBO In/Out</h1>
    <div id="btn_parent">
      <div>
	<h2>Slide switch status</h2>
      </div>
      <div class="btn">
	<form method="post">
	  <input type="submit" name="slide_switch" value="Get">
	</form>
      </div>
    </div>
    <table class="switchTable">
      <tr>
	<th>1</th>
	<th>2</th>
	<th>3</th>
	<th>4</th>
      </tr>
      <tr>
	<td id="sw1"><%= slide_sw1 %></td>
	<td id="sw2"><%= slide_sw2 %></td>
	<td id="sw3"><%= slide_sw3 %></td>
	<td id="sw4"><%= slide_sw4 %></td>
      </tr>
    </table>
    <div id="btn_parent">
      <div>
	<h2>Button status</h2>
      </div>
      <div class="btn">
	<form method="post">
	  <input type="submit" name="button_switch" value="Get">
	</form>
      </div>
    </div>
    <table class="switchTable">
      <tr>
	<th>1</th>
	<th>2</th>
	<th>3</th>
	<th>4</th>
      </tr>
      <tr>
	<td id="btn1"><%= button_sw1 %></td>
	<td id="btn2"><%= button_sw2 %></td>
	<td id="btn3"><%= button_sw3 %></td>
	<td id="btn4"><%= button_sw4 %></td>
      </tr>
    </table>
    <div id="btn_parent">
      <div>
	<h2>Set Green LED</h2>
      </div>
      <div class="btn">
	<form name="set_green_led" method="post">
	  <input type="hidden" name="set_led1" value="<%= grn_led1 %>" id="set_led1">
	  <input type="hidden" name="set_led2" value="<%= grn_led2 %>" id="set_led2">
	  <input type="hidden" name="set_led3" value="<%= grn_led3 %>" id="set_led3">
	  <input type="hidden" name="set_led4" value="<%= grn_led4 %>" id="set_led4">
	  <input type="submit" name="green_led" value="Set">
	</form>
      </div>
    </div>
    <div id="led_parent">
      <div id="led1" class="led">1</div>
      <div id="led2" class="led">2</div>
      <div id="led3" class="led">3</div>
      <div id="led4" class="led">4</div>
    </div>

    <div id="btn_parent">
      <div>
	<h2>Set RGB LED</h2>
      </div>
      <div class="btn">
	<form name="set_pwm_led" method="post" onSubmit="submit_rgb();">
	  <input type="hidden" name="set_pwm1" value="<%= pwm_led1 %>" id="set_pwm1">
	  <input type="hidden" name="set_pwm2" value="<%= pwm_led2 %>" id="set_pwm2">
	  <input type="hidden" name="set_pwm3" value="<%= pwm_led3 %>" id="set_pwm3">
	  <input type="hidden" name="set_pwm4" value="<%= pwm_led4 %>" id="set_pwm4">
	  <input type="hidden" name="set_pwm5" value="<%= pwm_led5 %>" id="set_pwm5">
	  <input type="hidden" name="set_pwm6" value="<%= pwm_led6 %>" id="set_pwm6">
	  <input type="submit" name="rgb_led" value="Set">
	</form>
      </div>
    </div>
    <h3>RGB LED 1</h3>
    <table width="375">
      <tr>
	<td class="rgb1">Red:</td>
	<td id="pwm_value1" class="rgb2"><%= pwm_led1 %></td>
	<td>
	  <input type="range" class="input-range" value="<%= pwm_led1 %>" min="0" max="255" id="pwm_range1" class="rgb3">
	</td>
      </tr>
      <tr>
	<td class="rgb1">Green:</td>
	<td id="pwm_value2" class="rgb2"><%= pwm_led2 %></td>
	<td>
	  <input type="range" class="input-range" value="<%= pwm_led2 %>" min="0" max="255" id="pwm_range2">
	</td>
      </tr>
      <tr>
	<td class="rgb1">Blue:</td>
	<td id="pwm_value3" class="rgb2"><%= pwm_led3 %></td>
	<td>
	  <input type="range" class="input-range" value="<%= pwm_led3 %>" min="0" max="255" id="pwm_range3">
	</td>
      </tr>
    </table>
    <h3>RGB LED 2</h3>
    <table width="375">
      <tr>
	<td class="rgb1">Red:</td>
	<td id="pwm_value4" class="rgb2"><%= pwm_led4 %></td>
	<td>
	  <input type="range" class="input-range" value="<%= pwm_led4 %>" min="0" max="255" id="pwm_range4" class="rgb3">
	</td>
      </tr>
      <tr>
	<td class="rgb1">Green:</td>
	<td id="pwm_value5" class="rgb2"><%= pwm_led5 %></td>
	<td>
	  <input type="range" class="input-range" value="<%= pwm_led5 %>" min="0" max="255" id="pwm_range5">
	</td>
      </tr>
      <tr>
	<td class="rgb1">Blue:</td>
	<td id="pwm_value6" class="rgb2"><%= pwm_led6 %></td>
	<td>
	  <input type="range" class="input-range" value="<%= pwm_led6 %>" min="0" max="255" id="pwm_range6">
	</td>
      </tr>
    </table>
      
    <script type="application/javascript" src="./main.js"></script>
  </body>
</html>
